// -----------------------------------------------------------------------------
// This file contains all application-wide Sass and CSS 3 variables.
// -----------------------------------------------------------------------------
/*CSS3 Variables*/

:root {
  --white: #fff;
  --black: #000;

  --eggshell: #eee8d6;
  --darkblue: #022933;
  --yellow: #f3d350;
  --blue: #0076a3;
  --green: #bfc406;
  --orange: #dc762b;
  --red: #d14348;
  --purple: #6d73c2;
  --grey: #777;

  --color-light: var(--white);
  --color-dark: var(--black);
  --color-main: var(--color-light);
  --color-background: var(--blue);
  --color-links: var(--yellow);
  --color-navigation-links: var(--blue);

  --font-size-base: 1.3rem;
  --line-height-base: 150%;
  --font-primary: 'Work Sans', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --font-weight-light: 100;
  --font-weight-normal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*custom properties*/
  --container-small-width: 50%;
  --container-default-width: 90%;
  --container-max-width: 1200px;

  --width-standard: {
    width: var(--container-default-width);
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
  /*Custom media*/
  @custom-media --viewport-small (width >= 576px);
  @custom-media --viewport-medium (width >= 768px);
  @custom-media --viewport-large (width >= 992px);
  @custom-media --viewport-extralarge (width >= 1200px);

  @custom-selector :--headings h1, h2, h3, h4, h5, h6;
} /* root */

// Sass variables

// Grid
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Links
// =============================================
$link-hover-decoration: none !default;

// Border radius
// =============================================
$border-radius-base: 0 !default;
$border-radius-medium: 6px !default;
$border-radius-small: 3px !default;

// Animation
// =============================================
$timeline-base: 0.4s !default;
$timeline-fast: 0.2s !default;
$timeline-slow: 0.8s !default;

// Border
// =============================================
$b-s-base: 1px;
$b-s-medium: $b-s-base*3;
$b-s-big: $b-s-medium*2;

// Cursor controls
// =============================================
$cursor-active: pointer !default;
$cursor-disabled: not-allowed !default;
$cursor-resize: col-resize !default;

// Padding/margin
// =============================================
$padding: $grid-gutter-width/2 !default;
$margin: $grid-gutter-width/2 !default;

// Padding for elements
// =============================================
$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

// Buttons
// =============================================
$btn-font-weight: normal !default;

$btn-default-color: #fff !default;
$btn-default-bg: $color-accent !default;
$btn-default-border: darken($color-accent, 1%) !default;

$btn-primary-color: #fff !default;
$btn-primary-bg: $color-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

// Custom border-radius
// =============================================
$btn-border-radius-base: $border-radius-base !default;
$btn-border-radius-medium: $border-radius-medium !default;
$btn-border-radius-small: $border-radius-small !default;

// Inputs
// =============================================
$input-bg: #fff !default;
$input-bg-disabled: $color-primary !default;
$input-color: $color-primary !default;
$input-border: #ccc !default;

// Custom input-border-radius
// =============================================
$input-border-radius-base: $border-radius-base !default;
$input-border-radius-medium: $border-radius-medium !default;
$input-border-radius-small: $border-radius-small !default;

$input-border-focus: #66afe9 !default;
$input-color-placeholder: #999 !default;

// Count input height
// =============================================
$input-height-base: ($line-height-count + ($padding-base-vertical * 2) + 2)
  !default;
$input-height-large: (
    ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) +
      2
  )
  !default;
$input-height-small: (
    floor($font-size-small * $line-height-small) +
      (
        $padding-small-vertical * 2
      ) + 2
  )
  !default;
