@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Vendors
@import 'vendor/normalize';

// 3. Base stuff
@import 'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers',
  'base/animations';

// 4. Layout-related sections
@import 'layout/grids';

// 5. Components

// 6. Page-specific styles
@import 'pages/home';

// 7. Themes
@import 'themes/default';
