<!doctype html>
<html class="no-js" lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front-End Starter |</title>
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- build:css assets/styles/main.min.css  -->
  <link rel="stylesheet" type="text/css" href="temp/styles/main.css">
  <!-- endbuild -->
  <!-- build:js assets/scripts/Vendor.js -->
  <script type="text/javascript" src="./temp/scripts/Vendor.js"></script>
  <!-- endbuild -->
</head>

<body>
